body {
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px auto 200%;
    grid-template-areas:
        "header header"
        "main main"
        "footer footer"
    ;
}