header {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(23, 98, 236, 0.8);
    grid-area: header;

    img {
        display: flex;
        width: 70px;
    }

    h1 {
        color: white;
    }

    ul {
        display: flex;
        list-style-type: none;
        margin: 0;
        flex-direction: row;
        padding: 0px;

        li {
            padding: 5px;
            font-size: 20px;

            &:hover {
                transition: all;
                background-color: rgb(5, 5, 5);
            }

            a {
                display: flex;
                list-style-type: none;
                color: rgb(218, 214, 214);
                text-decoration: none;
            }
        }

    }

}